.distribution {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background: url("../../assets/paper.jpg");
  background-size: cover;
  background-position: center;
  &__title {
    width: 75vw;
    text-align: center;
  }
}
