.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  background: linear-gradient(rgba(151, 145, 145, 0.6), rgba(0, 0, 0, 0.7)),
    url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  &__inner a {
    text-decoration: none;
  }
}

.footer-img {
  width: 40px;
  height: 40px;
  margin: 10px;
}
