.header {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("./assets/paper.jpg");
  background-size: cover;
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__links {
    display: flex;
    list-style-type: none;
  }
  &__links li {
    margin-left: 0.5vw;
    font-size: 12px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 60px;
      height: 45px;
      cursor: pointer;
    }
  }
  &__button:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
  }
}

li:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

a:hover {
  color: white;
}

.logo {
  width: 90px;
  height: 90px;
  margin: 0.5vw;
}

@media only screen and (max-width: 716px) {
  .header {
    justify-content: space-between;
    &__logo,
    &__button {
      padding: 0px 10px 0px 10px;
    }
    &__links {
      display: none;
    }
  }
}
