@charset "UTF-8";
.header {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../../assets/paper.jpg");
  background-size: cover;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header__links {
  display: flex;
  list-style-type: none;
}
.header__links li {
  margin-left: 0.5vw;
  font-size: 12px;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__button img {
  width: 60px;
  height: 45px;
  cursor: pointer;
}
.header__button:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}

li:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

a:hover {
  color: white;
}

.logo {
  width: 90px;
  height: 90px;
  margin: 0.5vw;
}

@media only screen and (max-width: 716px) {
  .header {
    justify-content: space-between;
  }
  .header__logo, .header__button {
    padding: 0px 10px 0px 10px;
  }
  .header__links {
    display: none;
  }
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background: linear-gradient(rgba(151, 145, 145, 0.6), rgba(0, 0, 0, 0.7)), url("/assets/main.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.about__title, .about__text {
  text-align: center;
  margin: 0;
}

.about-container {
  height: 85vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.flour {
  height: 100vh;
  background-image: url("/assets/paper.jpg");
  background-size: cover;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 550px;
}

.container {
  background-color: transparent;
}

.card {
  position: relative;
  background: transparent;
  border: none;
}

.card .card-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 100;
}

section .card .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 25vw;
  padding: 3px;
}

.name-flour,
.image,
.flour-text {
  margin: 5px;
}

.image img {
  height: 90%;
}

section .card .image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.card .name-flour {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .flour-text {
  display: flex;
  justify-content: space-around;
}

.flour-text {
  width: 350px;
  text-align: center;
  margin: 10px 15px 25px 15px;
}

.swiper-pagination {
  position: absolute;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: #ffffff;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #ffffff;
}

.uniqueness {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background: linear-gradient(rgba(151, 145, 145, 0.6), rgba(0, 0, 0, 0.7)), url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.uniqueness__title {
  width: 75vw;
  text-align: center;
}

.production {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background: url("/assets/paper.jpg");
  background-size: cover;
  background-position: center;
}
.production__title, .production__text {
  width: 75vw;
  text-align: center;
}

.production-gallery {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(151, 145, 145, 0.6), rgba(0, 0, 0, 0.7)), url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.distribution {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background: url("/assets/paper.jpg");
  background-size: cover;
  background-position: center;
}
.distribution__title {
  width: 75vw;
  text-align: center;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background: linear-gradient(rgba(151, 145, 145, 0.6), rgba(0, 0, 0, 0.7)), url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.contact-form__inner {
  width: 35%;
  max-width: 500px;
  vertical-align: top;
  margin: 10px;
  border-radius: 5px;
  text-align: left;
  color: white;
}
.contact-form__inner h4 {
  margin-top: 12px;
}
.contact-form__sprite {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form__img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.form-group,
button {
  margin: 5px;
}

@media only screen and (max-width: 874px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-form__inner {
    width: 80vw;
  }
}
.certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background: url("/assets/paper.jpg");
  background-size: cover;
  background-position: center;
}
.certificates__inner {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.image {
  margin: 10px;
  width: 400px;
  height: 260px;
}

@media only screen and (max-width: 874px) {
  .certificates__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background: linear-gradient(rgba(151, 145, 145, 0.6), rgba(0, 0, 0, 0.7)), url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.googleMap {
  width: 80vw;
  height: 40vh;
}

.faq {
  min-height: 100vh;
  background-image: url("/assets/paper.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq__title {
  margin: 30px 0;
}

.dropdown {
  text-align: center;
}

.collapsible {
  width: 660px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  box-shadow: 0px 2px 5px rgb(255, 255, 255);
}

.collapsible:after {
  content: "+";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "−";
}

.dropdown-content {
  margin-bottom: 30px;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
  width: 660px;
}

.text {
  font-size: 15px;
}

@media only screen and (max-width: 874px) {
  .faq {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .dropdown,
.collapsible,
.dropdown-content {
    width: 90vw;
  }
  .text {
    text-align: left;
    font-size: 13px;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 15vh;
  background: linear-gradient(rgba(151, 145, 145, 0.6), rgba(0, 0, 0, 0.7)), url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}
.footer__inner a {
  text-decoration: none;
}

.footer-img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
span,
a,
p {
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 10px 0 10px;
}

p {
  font-size: 11px;
}

span {
  font-size: 12px;
}

@media only screen and (max-width: 800px) {
  .image {
    width: 60vw;
    height: 35vh;
  }
}
@media only screen and (max-width: 695px) {
  .image {
    width: 85vw;
  }
}
@media only screen and (max-width: 525px) {
  .image {
    height: 28vh;
  }
}
@media only screen and (max-width: 363px) {
  .image {
    height: 16vh;
  }
}/*# sourceMappingURL=main.css.map */